<form [formGroup]="form">

    <div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="1rem">

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Who's playing?</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>

        <mat-button-toggle-group name="hand-choice" formControlName="handChoice">
            <mat-button-toggle value="ROCK" title="Rock">
                <img class="hand-image" src="assets/rock.png" />
            </mat-button-toggle>
            <mat-button-toggle value="PAPER" title="Paper">
                <img class="hand-image" src="assets/paper.png" />
            </mat-button-toggle>
            <mat-button-toggle value="SCISSORS" title="Scissors">
                <img class="hand-image" src="assets/scissors.png" />
            </mat-button-toggle>
        </mat-button-toggle-group>

        <div>
            <button mat-raised-button color="primary" [disabled]="isPlayButtonDisabled" (click)="play()">Play</button>
        </div>

    </div>

</form>
