<h1 mat-dialog-title class="text-align-center">The result are in</h1>
<div mat-dialog-content>
    <div *ngIf="data.response.outcome == gameOutcomeEnum.WIN">
        <div>You've done it, {{data.name}}!</div>
        <div>I knew you could do it</div>
    </div>
    <div *ngIf="data.response.outcome == gameOutcomeEnum.LOSE">
        <div>I'm terribly sorry, {{data.name}}</div>
        <div>Please try again</div>
    </div>
    <div *ngIf="data.response.outcome == gameOutcomeEnum.DRAW">
        <div>Good news (sort of), {{data.name}}</div>
        <div>You neither lost nor won</div>
    </div>

    <div>Your choice: {{data.response.challenger.hand}}</div>
    <div>Your opponent's choice: {{data.response.challenged.hand}}</div>
    <div>Outcome: {{data.response.outcome}}</div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
